
h1,h2,h3,p {
    margin: 0;
}

/* Main */

.breadcrumbs {
    padding-bottom: 50px;
}

/* Section Bloger */

.main__bloger {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid var(--white-color);
    border-radius: 5px;
    display: flex;
    margin-bottom: 80px;
}

.main__bloger-wrapper {
    position: relative;
    padding: 30px 40px 30px 40px;
}

.main__bloger-wrapper::before {
    content: '';
    position: absolute;
    border-bottom: 1px solid var(--white-color);
    width: 90%;
    top: 113px;
}

.main__bloger-wrapper::after {
    content: '';
    position: absolute;
    border-bottom: 1px solid var(--white-color);
    width: 90%;
    bottom: 265px;
}

.main__bloger-title {
    padding-bottom: 60px;
    text-align: start;
}

.main__bloger-socials {
    display: grid;
    grid-template-columns: 144px 100px;
    grid-column-gap: 150px;
    grid-row-gap: 30px;
    padding-left: 45px;
    padding-bottom: 30px;
}

.main__content-social {
    display: flex;
    flex-direction: column;
    position: relative;
}

.main__content-social p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.yt-bloger::before {
    content: '';
    position: absolute;
    width: 64px;
    height: 64px;
    background-image: url('../img/youtube-bloger.svg');
    left: -82px;
}

.vk-bloger::before {
    content: '';
    position: absolute;
    width: 64px;
    height: 64px;
    background-image: url('../img/vk-bloger.svg');
    left: -82px;
}

.insta-bloger::before {
    content: '';
    position: absolute;
    width: 64px;
    height: 64px;
    background-image: url('../img/insta-bloger.svg');
    left: -82px;
}

.main__content-count {
    font-size: 30px;
    line-height: 37px;
    width: 170px;
}

.main__content-info {
    overflow-y: scroll;
}

.main__content-subtitle {
    font-size: 30px;
    line-height: 37px;
    color: var(--white-color);
    padding-bottom: 10px;
    padding-top: 20px;
}

.main__content-info {
    overflow-y: scroll;
    width: 784px;
    height: 226px;
}
  
.overflow {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--white-color);
    width: 750px;
    min-height: 300px;
}

/* section Video */

.main__video {
    padding-bottom: 80px;
}

.main__video-title {
    padding-bottom: 50px;
}

.main__video-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

.main__video-item {
    position: relative;
}

.main__video-item::before {
    content: '';
    position: absolute;
    background-image: url(../img/play.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    left: 45%;
    top: 36%;
}

.main__video-img {
    transition: opacity .5s ease-in-out;
}

.main__video-img:hover {
    opacity: 0.5;
}

.main__other-title {
   padding-bottom: 50px;
}


.main__content-NonActive {
    width: 311px;
    height: 311px;
}

/* footer */

.footer {
    padding-top: 100px;
}

/* Section Other */
    /* slider */

.swiper {
    padding-bottom: 50px;
}

.swiper-wrapper {
    height: 311px;
    width: 311px;
    padding-bottom: 50px;
}

.swiper-slide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

.swiper-scrollbar {
    background: #969696;
}

.swiper-scrollbar-drag {
    background: var(--white-color);
    width: 113px;
}

.swiper-horizontal>.swiper-scrollbar {
    bottom: 47px;
    left: 37%;
    width: 311px;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,.swiper-button-next:after, .swiper-button-prev:after {
    content: '';
}

.swiper-button-next {
    background-image: url(../img/arrow-button-next.png) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    top: 372px;
    right: 464px;
}

.swiper-button-prev {
    background-image: url(../img/arrow-button-prev.png) !important; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    top: 372px;
    left: 437px;
}